name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches: [ "main" ]
    paths:
      - "mkdocs.yml"
      - "wiki_src/**"
      - ".github/workflows/build-wiki.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: pip install mkdocs-material pymdown-extensions

      - run: mkdocs gh-deploy --force
